{% extends 'store/main.html' %}
{% load static %}


{% block content %}

<div class="services">
	<div class="row">
		<div class="col-md-6" style="text-align: center">
			
			<h1>About</h1>
		</div>
		
		<div class="col-md-4">
			I'm a designer, almost illustrator, gamer, occasional writer, who will probably take up photography sometime, or not, all-around creative, Pizza and cheesecake enthusiast from Georgetown, Guyana..
So in a nutshell, I build, create and design stuff.
		</div>	

	


</div>



{% endblock content %} 