{% extends 'store/main.html' %}
{% load static %}


{% block content %}
<head>
    <title>home</title>
    
</head>

<body>
    <div class="cont_ainer">
         
        <div class="parallax1">
            <h1 class ="ppara">
              
                 This is a test   
            </h1>

        </div>

        <div class="row" style="padding: 50px;">
            <div class="col-md-6" style="text-align: center">
                
                <h1>About</h1>
            </div>
            
            <div class="col-md-5">
                I'm a designer, almost illustrator, gamer, occasional writer, who will probably take up photography sometime, or not, all-around creative, Pizza and cheesecake enthusiast from Georgetown, Guyana..
    So in a nutshell, I build, create and design stuff.
            </div>	
        </div>

        <div class="parallax2">
            <p>
                
              hi      
            </p>

        </div>

        <div class="row" style="padding: 50px;">
            <div class="col-md-6" style="text-align: center">
                
                <h1>About</h1>
            </div>
            
            <div class="col-md-5">
                I'm a designer, almost illustrator, gamer, occasional writer, who will probably take up photography sometime, or not, all-around creative, Pizza and cheesecake enthusiast from Georgetown, Guyana..
    So in a nutshell, I build, create and design stuff.
            </div>	
        </div>
        
        <div class="parallax2">
            <p>
                
              hi      
            </p>

        </div>



        

    </div>
</body>
{% endblock content %} 
