{% extends 'store/main.html' %}
{% load static %}


{% block content %}

<body>
	<div style="padding-right: 100px; padding-left: 100px;">
			<!-- Header -->
			<div class="header">
			<h1>Logo Design</h1>
			<!--<p></p>-->
			</div>
			
			<!-- Photo Grid -->
			<div class="row"> 
				<div class="column">
					<img src="{% static 'images/p1.jpg' %}" style="width:100%">
					<img src="{% static 'images/p2.jpg' %}" style="width:100%">
					<img src="{% static 'images/p9.jpg' %}" style="width:100%">
				</div>
				<div class="column">
					<img src="{% static 'images/p3.jpg' %}" style="width:100%">
					<img src="{% static 'images/p4.jpg' %}" style="width:100%">
					<img src="{% static 'images/p10.jpg' %}" style="width:100%">
				</div>  
				<div class="column">
					<img src="{% static 'images/p5.jpg' %}" style="width:100%">
					<img src="{% static 'images/p6.jpg' %}" style="width:100%">
					<img src="{% static 'images/p11.jpg' %}" style="width:100%">
				</div>
				<div class="column">
					<img src="{% static 'images/p7.jpg' %}" style="width:100%">
					<img src="{% static 'images/p8.jpg' %}" style="width:100%">
					<img src="{% static 'images/p12.jpg' %}" style="width:100%">
				</div>
			</div>
			
			<!-- Header -->
			<div class="header2">
				<h1>Flyer Design</h1>
				<!--<p></p>-->
			</div>
			
			<!-- Photo Grid -->
				<div class="row"> 
					<div class="column">
					<img src="{% static 'images/f1.png' %}" style="width:100%">
					<img src="{% static 'images/f2.png' %}" style="width:100%">
					<img src="{% static 'images/f9.png' %}" style="width:100%">
					</div>
					<div class="column">
					<img src="{% static 'images/f3.png' %}" style="width:100%">
					<img src="{% static 'images/f4.png' %}" style="width:100%">
					<img src="{% static 'images/f10.png' %}" style="width:100%">
					</div>  
					<div class="column">
					<img src="{% static 'images/f5.png' %}" style="width:100%">
					<img src="{% static 'images/f6.png' %}" style="width:100%">
					<img src="{% static 'images/f11.png' %}" style="width:100%">
					</div>
					<div class="column">
					<img src="{% static 'images/f7.png' %}" style="width:100%">
					<img src="{% static 'images/f8.png' %}" style="width:100%">
					<img src="{% static 'images/f12.png' %}" style="width:100%">
					</div>
			</div>
	</div>
</body>



{% endblock content %} 