{% extends 'store/main.html' %}
{% load static %}


{% block content %}

<div class="services">
	<div class="row">
		<div class="col-sm" style="text-align: center">
			
			<h1>Services</h1>
		</div>
		
		<div class="col-sm">
			Graphic Design<br>
			Website Design<br>
			Branding & Identity<br>
			Logo Design<br>
			Font Design<br>
			ID & Business Cards<br>
			Accessories, Apparel Design<br>
			T-shirt Printing & Embroidery<br>
			Product Design, Branding & Packaging<br>
			Magazine & Brochure Design<br>
			Flyers, Posters, Billboards & Signs<br>
		</div>	

		<div class="col-sm">
			Layout & Typography<br>
			Restaurant Menus<br>
			Motion Graphics<br>
			Illustration & Animation<br>
			House Plans<br>
			Print Services<br>
			Voice Overs & Narration<br>
			Newspaper, TV & Radio Ads<br>
			Photography & Videography<br>
			Photo & Video Editing<br>
			Design Consultancy<br>
			Contracts & Legal Stuff<br>
		</div>


</div>



{% endblock content %} 